<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summoner: {{ summoner.sName }}</title>
</head>
<body>

{% if summoner %}
    <ul>
    <li>Summoner Name: {{ summoner.sName }}</li>
    <li>Level: {{ summoner.level }}</li>
    <li><a href="/webapp/getRecentGames/?id={{ summoner.id }}" >Click to view recent matches of {{ summoner.sName }}</a></li>
    <li><a href="/webapp/getTeamByMember/?id={{ summoner.id }}" >Click to view the Teams {{ summoner.sName }} is on</a></li>
    <li><a href="/webapp/getFriends/?id={{ summoner.id }}" >Click to view the friends of {{ summoner.sName }}</a></li>
    </ul>
{% else %}
    <p>No summoner found</p>
{% endif %}
</body>
</html>
